doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title Page not found – Georgian Colelge
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    link(href="css/main.css" rel="stylesheet")
    link(href='favicon.png', rel='icon')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  body
    // Header
    header
      .container
        .row
          .col-9: .logo
            a(href="/"): img(src="images/logo.svg" alt="Georgian College Logo")
          .col-3: .search
            input(type="text" placeholder="Search...")

    // Navigation
    nav
      .container
        .row
          .col-9
            ul.nav
              li: a(href="#") Academics
              li: a(href="#") Admissions
              li: a(href="#") Finance and fees
              li: a(href="#") Student life
              li: a(href="#") Community
              li: a(href="#") About us
          .col-3
            .login
              a(href="#") Login

    // Section 404
    section.not-found
      .container
        .row
          .col-1
          .col-2: img(src="images/not-found.svg" alt="Page not found")
          .col-7
            h1 Page is not found
            p The page you requested was not found. Try to do the following:
            ol
              li Check you link for typos and errors.
              li If you received this link from the college, contact and ask for another link.
              li Search what you want to find.

    // Search & Broken link
    section.broken-link
      .container
        .row
          .col-3
          .col-6
            form.search(action="" method="get")
              input.form-control(type="text" placeholder="Search...")
            hr
            .row.report
              .col-8
                label Do you think this page should be up?
              .col-4.text-right
                a.btn.btn-secondary(href="#") Report broken link

    // Useful links
    section.useful-links
      .container
        h2 Useful links
        .row
          .col-4
            h3 For students
            ul.list
              li: a(href="#") Log in to college services
              li: a(href="#") Browse events and important dates
              li: a(href="#") Learn about campus services
              li: a(href="#") New students orientation
              li: a(href="#") Office of the registar
          .col-4
            h3 For future students
            ul.list
              li: a(href="#") Academic programs
              li: a(href="#") Admissions
              li: a(href="#") International students
              li: a(href="#") Campuses
              li: a(href="#") Tuitions
          .col-4
            h3 For parents and guardians
            ul.list
              li: a(href="#") Preparation courses
              li: a(href="#") Student life
              li: a(href="#") Safety and security
              li: a(href="#") Campus services
              li: a(href="#") Accomodations


    // Footer
    footer
      .container
        .logo: img(src="images/logo-light.svg" alt="Georgian College Logo")
        .row
          .col-2
            ul.list
              li: a(href="#") Orillia
              li: a(href="#") Owen Sound
              li: a(href="#") South Georgian Bay
              li: a(href="#") Orangeville
          .col-2
            ul.list
              li: a(href="#") Barrie
              li: a(href="#") Midland
              li: a(href="#") Muskoka
          .col-2
            ul.list
              li: a(href="#") Future students
              li: a(href="#") Current students
              li: a(href="#") Alumni
              li: a(href="#") International
          .col-2
            ul.list.social-links
              li: a(href="#") Facebook
              li: a(href="#") LinkedIn
              li: a(href="#") Youtube
              li: a(href="#") Twitter
              li: a(href="#") Instagram
          .col-4.address
            p One Georgian Dr., Barrie ON L4M 3X9
            p 705.728.1968 
            p inquire@georgiancollege.ca
        .copyright Copyright 2018 Georgian College.
              

    // Bootstrap scripts
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
