doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title Page not found – Georgian Colelge
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    link(href="css/main.css" rel="stylesheet")
    link(href='favicon.png', rel='icon')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  body
    // Header
    header
      .container
        .row
          .col-9 logo
          .col-3 search

    // Navigation
    nav
      .container
        .row
          .col-10 links
          .col-2 login

    // Section 404
    section.not-found
      .container
        .row
          .col-1
          .col-2 icon
          .col-7
            h1 Page not found
            ol
              li Check you link

    // Search & Broken link
    section.broken-link
      .container
        .row
          .col-3
          .col-7
            form.search(action="" method="get")
              input.form-control(type="text" placeholder="Search...")
            hr
            .row
              .col-8
                label Do you think this page should be up?
              .col-4
                a.btn.btn-secondary(href="#") Report broken link

    // Useful links
    section.userful-links
      .container
        h2 Useful links
        .row
          .col-4
            h3 For students
            ul
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
          .col-4
            h3 For future students
            ul
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
          .col-4
            h3 For parents and guardians
            ul
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services
              li: a(href="#") Log in to college services


    // Footer
    footer
      .container
        .logo georgian-logo
        .row
          .col-2
            ul
              li(a href="#") Link
              li(a href="#") Link
              li(a href="#") Link
          .col-2
            ul
              li(a href="#") Link
              li(a href="#") Link
              li(a href="#") Link
          .col-2
            ul
              li(a href="#") Link
              li(a href="#") Link
              li(a href="#") Link
          .col-2
            ul
              li(a href="#") Link
              li(a href="#") Link
              li(a href="#") Link
          .col-2
            ul
              li(a href="#") Link
              li(a href="#") Link
              li(a href="#") Link
          .col-4
            p One Georgian Dr., Barrie ON L4M 3X9
            p 705.728.1968 
            p inquire@georgiancollege.a
        p Copyright 2018 Georgian College.
              

    // Bootstrap scripts
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
